<h1 class="text-center display-3">Edit Technician</h1>
<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @technician do |f| %>
      <div class="form-group">
        <%= f.label :name, :class => "control-label" %>
        <%= f.text_field :name, :value => @technician.name, :class => "form-control" %>

        <%= f.label :employee_number, :class => "control-label" %>
        <%= f.text_field :employee_number, :value => @technician.employee_number, :class => "form-control" %>

        <%= f.label :payrate, :class => "control-label" %>
        <%= f.number_field :payrate, :value => @technician.payrate, :class => "form-control", :step => 0.01 %>
      </div>
      <div class="form-group">
        <%= f.label :location_id, :class => "control-label" %>
        <%= f.select(:location_id, @locations.all.collect { |l| [l.nickname, l.id] }, {}, { :class => "form-control custom-select", :value => @technician.location })%>

        <%= f.label :role, :class => "control-label" %>
        <%= f.select(:role_id, @roles.all.collect { |r| [r.name, r.id] }, {}, { :class => "form-control custom-select", :value => @technician.role }) %>
      </div>
      <%= f.submit "Save Technician", :class => "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>
