<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Employee Number</th>
        <th>Payrate</th>
        <th>Location</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @technicians.each do |tech| %>
      <tr>
        <td><%= link_to tech.name, technician_path(tech.id) %></td>
        <td><%= tech.employee_number %></td>
        <td><%= tech.payrate %></td>
        <td><%= tech.location %></td>
        <td><%= tech.role %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-center">
    <%= link_to "Add New Technician", new_technician_path, class: "btn btn-primary" %>
  </p>
</div>
