<div class="col-md-4 col-md-offset-4">
  <p class="text-center"><strong>Name: </strong><%= @part.name %></p>
  <p class="text-center"><strong>P/N: </strong><%= @part.part_number %></p>
  <p class="text-center"><strong>Unit: </strong><%= @part.unit_of_issue %></p>
  <p class="text-center"><strong>Quantity On Hand: </strong><%= @part.on_hand %></p>
  <p class="text-center"><strong>Order Threshold: </strong><%= @part.threshold %></p>
  <p class="text-center"><strong>Order URL: </strong><%= @part.order_url %></p>
  <p class="text-center"><strong>Cost: </strong><%= @part.cost %></p>
  <p class="text-center"><strong>Vendor ID: </strong><%= @part.vendor_id %></p>
  <p class="text-center">
    <%= link_to "Done", parts_path, class: "btn btn-success" %>
    <%= link_to "Edit", edit_part_path(@part.id), class: "btn btn-info" %>
    <%= link_to "Add Another Part", new_part_path, class: "btn btn-primary" %>
    <%= link_to "DELETE", part_path(@part.id), method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </p>
</div>
