<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Family</th>
        <th>Part Number</th>
        <th>Serial Number</th>
        <th>Vendor ID</th>
        <th>Cost</th>
        <th>Location</th>
        <th>Install Date</th>
      </tr>
    </thead>
    <tbody>
      <% @systems.each do |sys| %>
      <tr>
        <td><%= link_to sys.name, system_path(sys) %></td>
        <td><%= sys.family %></td>
        <td><%= sys.part_number %></td>
        <td><%= sys.serial_number %></td>
        <td><%= sys.vendor_id %></td>
        <td><%= sys.cost %></td>
        <td><%= sys.location %></td>
        <td><%= sys.install_date %></td>
        <td><%= link_to "Edit", edit_system_path(sys), class: "btn btn-info" %></td>
        <td><%= link_to "Delete", system_path(sys), method: :delete,
          data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-center">
    <%= link_to "Add New System", new_system_path, class: "btn btn-primary" %>
  </p>
</div>
