<div class="col-md-4 col-md-offset-4">
  <p class="text-center"><strong>Nickname: </strong><%= @location.nickname %></p>
  <p class="text-center"><strong>Street: </strong><%= @location.street %></p>
  <p class="text-center"><strong>City: </strong><%= @location.city %></p>
  <p class="text-center"><strong>State: </strong><%= @location.state %></p>
  <p class="text-center"><strong>Zip: </strong><%= @location.zip %></p>
  <p class="text-center">
    <%= link_to "Done", locations_path, class: "btn btn-success" %>
    <%= link_to "Edit", edit_location_path(@location.id), class: "btn btn-info" %>
    <%= link_to "Add Another Location", new_location_path, class: "btn btn-primary" %>
    <%= link_to "DELETE", location_path(@location.id), method: :delete,
      data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
